[projects.{{ .chezmoi.homeDir | quote }}]
trust_level = "trusted"

[projects.{{ printf "%s/developer/api/main" .chezmoi.homeDir | quote }}]
trust_level = "trusted"

[features]
hooks = true
{{ if eq .chezmoi.os "darwin" }}
[desktop]
followUpQueueMode = "steer"
conversationDetailMode = "STEPS_PROSE"

[plugins."browser@openai-bundled"]
enabled = true

[plugins."unified-computer-use@openai-bundled"]
enabled = true

[plugins."computer-use@openai-bundled"]
enabled = true

[plugins."code-review@openai-bundled"]
enabled = true

[plugins."visualize@openai-bundled"]
enabled = true

[plugins."documents@openai-primary-runtime"]
enabled = true

[plugins."pdf@openai-primary-runtime"]
enabled = true

[plugins."spreadsheets@openai-primary-runtime"]
enabled = true

[plugins."presentations@openai-primary-runtime"]
enabled = true

[plugins."template-creator@openai-primary-runtime"]
enabled = true
{{ end -}}
